@model IEnumerable<AdminLTE.MVC.Models.School.Exercise>

@{
    ViewData["Title"] = "Exercises";
}

<h1>Exercises</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-controller="Units" asp-action="Report">Back to Units</a>
</div>