@model AdminLTE.MVC.ViewModel.ExerciseReportViewModel

@{
    ViewData["Title"] = "Exercises";
}

<h1>Exercises</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseList[0].Name)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ExerciseList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-controller="Units" asp-action="Report" asp-route-id="@Model.UnitId" asp-route-source="exercise">Back to Units</a>
</div>